.underline {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.pos-rel {
    position: relative;
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.focus-visible {
    outline-color: rgba(129, 202, 231, 0.3);
}