* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
}

a, a:active, a:hover {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}